body {
  background-color: #03B3EA;
}

iframe {
  min-height: 1vh;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

footer {
  color: white;
  text-align: center;
}